/* Reset + global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    list-style: none;
}

body{
    background-color: black;
}

/* Buttons */

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: rgb(230, 93, 15);
    transition: 0.3s;
}

.btn-primary-scale:hover{
    transform: scale(1.05);
}

.btn-primary-fade:hover{
    opacity: 0.8;
}