/* Header */

header {
    width: 98%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding-right: 12px;
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translatex(-50%);
    backdrop-filter: blur(20px);
    z-index: 1;
    background-color: rgba(229, 235, 244, 0.8);
}

/* Dropdown arrows */

.header-dropdown-arrow {
    height: 15px;
    width: 15px;
    margin-left: 4px;
    color: rgba(0, 0, 0, 0.5);
}

/* Header Left */

.header-left {
    height: 100%;
    display: flex;
    align-items: center;
}

/* Blizzard Dropdown Part */

#blizzard-dropdown {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px 0 32px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: rgba(255, 255, 255, 0.7);
}

#blizzard-icon {
    height: 56px;
    width: 80px;
    color: rgb(0, 174, 255);
    transition: 0.2s;
}

#blizzard-icon:hover {
    color: #00D1FF;
}

/* Overwatch link Part */

#overwatch-link {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

/* Main Menu Part */

#main-menu ul {
    display: flex;
}

#main-menu ul li {
    height: 48px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.2s;
}

ul li:first-child {
    margin-left: 5px;
}

li:hover {
    background-color: rgb(180, 181, 190);
}

#new-badge {
    font-size: 12px;
    padding: 0 4px 0 4px;
    border-radius: 4px;
    margin-right: 8px;
    color: white;
    background-color: rgb(31, 184, 255);
}

#nav-link-button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: rgb(204, 205, 216);
    transition: 0.2s;
}

#nav-link-button:hover {
    background-color: rgb(198, 199, 210);
}

/* Header Right */

#header-right {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Search Button Part */

#search-button {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

#search-button svg {
    width: 24px;
    height: 24px;
    color: rgba(0, 0, 0, 0.5);
}

#search-button:hover svg {
    color: black;
}

#search-button:hover {
    background-color: rgb(180, 181, 190);
}

/* Account Button Part */

#account-button {
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s;
}

#account-button:hover {
    background-color: rgb(180, 181, 190);
}

#account-button span {
    font-size: 16px;
    font-weight: 600;
}

#account-button svg:first-of-type {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.5);
}

#account-button svg:last-child {
    margin-right: 0;
}

.header-play-btn{
    width: 104px;
    height: 48px;
    border-radius: 8px;
}