/* Hero Section */

.hero {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: rgba(9, 7, 78, 0.4);
}

/* Hero Section Middle */

.hero-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    margin-top: 50px;
}

.hero-title-img {
    width: 480px;
    height: 42px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-heading {
    font-size: 36px;
    color: white;
    margin-bottom: 10px;
}

.hero-description {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.hero-play-btn {
    width: 165px;
    height: 56px;
    font-size: 20px;
    border-radius: 2px;
}

/* Hero Section Bottom */

.hero-bottom {
    display: flex;
    gap: 24px;
    margin-bottom: 30px;
}

.hero-bottom svg {
    height: 32px;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}

.hero-bottom svg:hover {
    color: rgba(255, 255, 255, 1);
}

/* Hero Section Background Video */

#hero-bck-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* Video button */

#bck-video-pause-btn {
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2%;
    left: 2%;
    background-color: rgba(93, 113, 152, 0.4);
    transition: 0.2s;
}

#bck-video-pause-btn svg {
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 0.7);
}

#bck-video-pause-btn:hover {
    background-color: rgba(93, 113, 152, 0.7);
}

#bck-video-pause-btn:hover svg {
    color: rgba(255, 255, 255, 0.8);
}

/* Overview Section */

.overview {
    width: 100%;
    height: 614px;
    display: flex;
    justify-content: center;
    background-image: url("/assets/images/2600_Silver_Background.jpg");
}

/* Overview Container */

.overview-container {
    gap: 40px;
}

/* Overview Left */

.overview-heading {
    line-height: 66px;
    width: 570px;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: rgb(29, 37, 58);
}

.overview-description {
    width: 500px;
    height: 140px;
    line-height: 28px;
    color: rgba(29, 37, 58, 0.9);
}

/* Overview Right */

.overview-right {
    position: relative;
}

#overview-showcase-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
}

#overview-showcase-img:hover {
    filter: brightness(1.1);
}

/* Play Button */

#video-play-button {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* Banner Section */

.banner {
    width: 100%;
    height: 824px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/assets/images/2600_S21_Overview.png");
}

.banner-container {
    gap: 56px;
}

/* Banner Left */

.banner-left {
    position: relative;
}

#banner-showcase-img {
    width: 805px;
    height: 100%;
    cursor: pointer;
    filter: brightness(0.9);
    transition: 0.5s;
}

#banner-showcase-img:hover {
    filter: brightness(1.1);
}

/* Banner Right */

.banner-heading {
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;
    color: white;
}

.banner-description {
    font-size: 18px;
    margin-top: 16px;
    color: rgba(255, 255, 255, 0.9);
}

/* Learn More Button */

.learn-more-btn {
    width: 184px;
    height: 56px;
    font-size: 20px;
    margin-top: 40px;
    color: black;
    background-color: #fff;
}

/* News Section */

.news {
    width: 100%;
    height: 685px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/2600_Silver_Background.jpg");
}

.news-container {
    flex-direction: column;
}

.news-heading {
    font-size: 48px;
    margin-bottom: 40px;
    color: rgb(29, 37, 58);
    text-transform: uppercase;
}

/* News Gallery */

.news-gallery {
    width: 100%;
    margin-bottom: 28px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.news-gallery-item {
    width: 324px;
    height: 332px;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

/* Item Top */

.news-item-img-container {
    overflow: hidden;
    height: 182px;
}

.news-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: 0.2s;
    border-bottom: none;
}

/* Item Bottom */

.news-item-footer {
    height: 150px;
    border: 1px solid rgb(68, 67, 67);
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: radial-gradient(124.81% 124.81% at 50% -.29%, #242a42 43.75%, #121524 100%);
    ;
}

.news-item-heading {
    font-size: 19px;
    line-height: 22px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s;
}

.news-item-date {
    font-weight: 200;
    color: rgba(255, 255, 255, 0.7);
}

.news-gallery-item:hover {
    filter: brightness(1.2);
}

.news-gallery-item:hover .news-item-img {
    transform: scale(1.05);
}

.news-gallery-item:hover .news-item-heading {
    color: rgba(255, 255, 255, 1);
}

/* View All Button */

.view-all-btn {
    width: 152px;
    height: 56px;
    font-size: 20px;
    background-color: rgb(0, 154, 243);
}

/* Features & Heroes Section */

/* Features Part */

.features-heroes {
    width: 100%;
    height: 1515px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/assets/images/features_hero_bck.webp");
}

.features {
    width: 100%;
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-container {
    width: 1400px;
}

/* Features Top */

.features-top {
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-subheading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
    color: rgba(255, 255, 255, 0.9);
}

.features-heading {
    max-width: 700px;
    font-size: 60px;
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
}

.features-description {
    font-size: 20px;
    margin-top: 16px;
    color: rgba(255, 255, 255, 0.9);
}

/* Features Gallery */

.features-gallery {
    display: flex;
    justify-content: space-between;
}

.features-gallery-item {
    width: 314px;
    height: 320px;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.features-item-img {
    object-fit: cover;
    transition: 0.2s;
}

.features-gallery-item:hover .features-item-img {
    filter: brightness(1.1);
}

.features-item-footer {
    text-align: center;
    padding-top: 14px;
}

.features-item-heading {
    font-size: 18px;
    color: white;
}

.features-item-description {
    font-size: 14px;
    margin-top: 12px;
    color: white;
}

/* Divider */

.divider {
    width: 100%;
    display: flex;
    justify-content: center;
}

.divider-img{
    width: 85%;
}

/* Heroes Part */

.heroes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex:1;
}

.heroes-container{
    align-items: normal;
    height: 584px;
    gap: 56px;
}

/* Heroes Left */

.heroes-left{
    width: 805px;
}

.heroes-left img{
    width: 750px;
    height: 1100px;
    object-fit: cover ;
    position: absolute;
}

/* Heroes Right */

.heroes-heading{
    font-size: 60px;
    margin-bottom: 48px;
    text-transform: uppercase;
    color: white;
}

.roles{
    height: 123px;
    display: flex;
    gap: 32px;
}

.role{
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    filter: brightness(0.7);
    transition: 0.1s;
}

.role:hover{
    filter: brightness(1);
    background-color: rgba(255, 255, 255, 0.3);
}

.selected-role{
    filter: brightness(1);
    background-color: rgba(255, 255, 255, 0.3);
}

.role img{
    width: 37px;
    height: 37px;
}

.heroes-role{
    font-size: 36px;
    text-transform: uppercase;
    color: white;
}

.heroes-role-description{
    width: 550px;
    font-size: 18px;
    margin-top: 16px;
    color: white;
}

/* See All Button */

.see-all-btn{
    width: 214px;
    height: 56px;
    font-size: 20px;
    margin-top: 40px;
    color: black;
    background-color: white;
}